*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#CF2425,#DA6062 50%,#DA6062 60%,#DA3B3F);
    height: 100vh;
    width: 100vw;
}
.background-image{

}
